.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .mtfix {
    margin-top: -150px;
  }
  .info {
    border-left: 1px solid snow;
  }
}

@media screen and (max-width: 576px) {
  .imgTitle {
    width: 300px;
  }
}

@font-face {
  font-family: 'Klaxons Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Klaxons Regular"), url("/css/Klaxons.woff") format("woff");
}

.pfix {
  padding-left: -calc(var(--bs-gutter-x)/2);
  padding-right: -calc(var(--bs-gutter-x)/2);
}

.bg {
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
}

.team .name {
  color: #1e2c6b;
  font-weight: 800;
  padding: 20px;
}

.content {
  padding: 20px;
  color: #1e2c6b;
  line-height: 2;
  font-weight: 800;
}

.logo img {
  margin-top: 150px;
  margin-bottom: 92px;
}

.person {
  color: bisque;
}

.person .photo {
  width: 97px;
  height: 97px;
}

.person .photo img {
  border-radius: 10%;
}

.info {
  list-style: none;
}

.info li {
  text-align: center;
}

.info li:hover a {
  color: blanchedalmond;
}

.info li a {
  color: azure;
}

.changePage {
  background-color: #caf0f8;
  border-radius: 10px;
  position: relative;
  font-family: 'Klaxons Regular';
  font-weight: 600;
}

.changePage:hover {
  background-color: #4895ef;
}

.changePage .Next {
  position: relative;
}

.changePage .Next::after {
  position: absolute;
  content: '\21C0';
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  top: 35px;
}

.changePage .Next:hover::after {
  -webkit-animation: arrowRMove .3s linear;
          animation: arrowRMove .3s linear;
}

.changePage .Last {
  position: relative;
}

.changePage .Last::before {
  position: absolute;
  content: '\21BC';
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  top: 35px;
  left: 20px;
}

.changePage .Last:hover::before {
  -webkit-animation: arrowLMove .3s linear;
          animation: arrowLMove .3s linear;
}

.changePage a {
  text-decoration: none;
  font-size: 28px;
  font-style: italic;
  color: #001845;
}

.changePage a:hover {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg_blue {
  background-color: #001845;
}

.titleColor {
  font-weight: 700;
  color: #4f0c2b;
}

.copyRight {
  color: aliceblue;
}

@-webkit-keyframes arrowRMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes arrowRMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-120px);
            transform: translateX(-120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes arrowLMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes arrowLMove {
  0% {
    opacity: 0;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=all.css.map */